<!DOCTYPE html>
<html>
<head>
  <title>Matchi</title>
  <link href="/assets/application.css?body=1" media="screen" rel="stylesheet" type="text/css" /> 
  <link href="/assets/games.css?body=1" media="screen" rel="stylesheet" type="text/css" /> 
  <link href="/assets/players.css?body=1" media="screen" rel="stylesheet" type="text/css" /> 
  <link href="/assets/scaffolds.css?body=1" media="screen" rel="stylesheet" type="text/css" /> 
  <link href="/assets/teams.css?body=1" media="screen" rel="stylesheet" type="text/css" /> 
  <link href="/assets/welcome.css?body=1" media="screen" rel="stylesheet" type="text/css" /> 
  <script src="/assets/jquery.js?body=1" type="text/javascript"></script> 
  <script src="/assets/jquery_ujs.js?body=1" type="text/javascript"></script> 
  <script src="/assets/games.js?body=1" type="text/javascript"></script> 
  <script src="/assets/players.js?body=1" type="text/javascript"></script> 
  <script src="/assets/teams.js?body=1" type="text/javascript"></script> 
  <script src="/assets/welcome.js?body=1" type="text/javascript"></script> 
  <script src="/assets/application.js?body=1" type="text/javascript"></script> 
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="banner">
    <%= @page_title || "Matchi" %>
  </div>
  <div id="columns">
    <div id="links">
      <a href="/">Home</a><br />
      <a href="/welcome/availability">Create new game</a><br />
      <a href="/players">Players</a><br />
      <a href="/teams">Teams</a><br />
      <a href="/games">Games</a><br />
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>

</body>
</html>
